# Installed PNPM packages
node_modules

# IntelliJ preferences folders
.idea
.idea/*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## Turborepo cache files
.turbo

## Environment variables
.env

## NPM config file possibly containing secrets
.npmrc
