# Installed PNPM packages
node_modules

## Turborepo cache files
.turbo

## Environment variables
/.env

## NPM config file possibly containing secrets
.npmrc

# IntelliJ preferences folders
.idea
.idea/*

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Miscellaneous
.DS_Store
*.pem
