name: Deploy docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install

      - name: Build
        run: pnpm docs:build

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: apps/docs/dist

  deploy:
    needs: build
    name: Deploy docs to GitHub Pages
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy artifacts to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
